* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  .App {
    background: linear-gradient(to bottom, #68eacc 0%, #497be8 100%);
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .app-container {
      max-width: 400px;
      width: 100%;
      background-color: white;
      margin: 120px auto;
      padding: 25px;
      border-radius: 5px;
      box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);

      h1 {
        font-size: 30px;
        padding-bottom: 15px;
      }
      form {
        /* background-color: blue; */
        margin: 20px 0;
        width: 100%;
        height: 45px;
        display: flex;
        input {
          /* background-color: brown; */
          width: 85%;
          height: 100%;
          outline: none;
          border-radius: 3px;
          border: 1px solid #ccc;
          font-size: 17px;
          padding-left: 15px;
          transition: all 0.3s ease;
          &:focus {
            border-color: #8e49e8;
          }
        }
        button {
          border: none;
          background-color: cadetblue;
          width: 50px;
          height: 100%;
          color: #fff;
          margin-left: 5px;
          font-size: 21px;
          outline: none;
          border-radius: 3px;
          background: #8e49e8;
          cursor: pointer;
          opacity: 0.6;
          /* pointer-events: none; */
          transition: all 0.3s ease;
          &:hover {
            background: #721ce3;
          }
        }
      }
      .todos-container {
        /* border: 3px solid red; */
        max-height: 250px;
        overflow-y: auto;
        input {
          /* background-color: rgb(245, 237, 133); */
          /* width: 100%; */
          height: 45px;
          border: 2px solid black;
        }
        .todo-text {
          background: #f2f2f2;
          /*  border: 1px solid red; */
          color: black;
          height: 45px;
          padding-left: 15px;
          display: flex;
          align-items: center;
        }
        button {
          background-color: rgb(0, 60, 255);
          width: 50px;
          height: 45px;
        }
        input {
          background-color: crimson;
        }
        .submit-edit-btn {
          background-color: yellow;
          width: 50px;

          height: 45px;
        }
        .edit-btn {
          background-color: yellowgreen;
          width: 50px;
          height: 45px;
        }
      }
    }
  }
}
